.nav-logo img {
  display: block;
  max-height: 50px;
  width: auto;
  border-radius: 0px;
}

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

pre {
  font-size: 16px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  background: transparent;
  transition: background 150ms ease;
}

.content {
  max-width: 90vw;
  margin: 40px auto 10px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

.nav {
  max-width: 90vw;
  text-align: inherit;
}

.toc ul {
  list-style: none;
}

.container {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

