.nav-logo img {
  display: block;
  max-height: 50px;
  width: auto;
  border-radius: 0px;
}

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}