.nav-logo img {
  display: block;
  max-height: 50px;
  width: auto;
  border-radius: 0px;
}

.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

code {
  display: inline;
}

pre {
  font-size: 16px;
  code {
    display: block;
}
}

.article-content a {
  text-decoration: none;
  color: #1f52a4;
  border-bottom: none;
  box-shadow: none;
  background: transparent;
  transition: background 150ms ease;
}

.article-content a:hover,
.article-content a:focus {
  color: #1f52a4;
}

.article-content a:visited {
  color: #9f1f19;
}

.nav a {
  text-decoration: none;
  color: #1f52a4;
  border-bottom: none;
  box-shadow: none;
  background: transparent;
  transition: background 150ms ease;
}

.nav a:hover, a:focus {
  color: #1f52a4;
}


.content {
  max-width: 90vw;
  margin: 40px auto 10px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

.nav {
  max-width: 90vw;
  text-align: inherit;
}

.toc ul {
  list-style: none;
}

.container {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

.footer-links-kudos img {
  position: relative;
  top: 0px;
  margin-left: 2px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid gray;
  padding: 15px;
  text-align: left;
  height: 30px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
