{{ partial "header.html" . }}
<main class="content list" role="main" id="archive">
  <section class="content">
    {{ if in .Permalink "authors" }}
    <article>
      <div class="row">
        <h1 class="mb-2">{{ .Params.name }}</h1>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <img src="{{ .Params.img }}" alt="{{ .Params.img }}" width="250" height="250" class="mb-4">
        </div>
        <div class="col-md-auto meta">
            {{ $name := .Params.name }}
            <ul>
            {{ range .Params.social }}
            {{ if eq .service "Home" }}
            <a href="{{ .link }}" target="_blank" title="{{ $name }}'s homepage" alt="{{ .link }}"><i class="fa fa-home mr-2"></i>Homepage</a>
            {{ else }}
            <li>
            <a href="{{ .link }}" target="_blank" title="{{ $name }} on {{ .service }}" alt="{{ .link }}"><i class="fa {{ .icon }} mr-2"></i>{{ .service }}</a>
          </li>
          {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      {{ if .Content }}
      <div class="row">{{ .Content }}</div>
      {{ end }}
    </article>
    <div class="row">
      <h2>Post{{ if gt ( len .Pages ) 1 }}s{{ end }} by {{ .Params.name }}</h2>
    </div>
    {{ end }} 
    {{ range .Data.Pages }}
    <article>
      <div class="row meta">
        <div class="col-md-auto">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        </div>
      </div>
      <div class="row meta">
        {{ partial "meta.html" . }}
      </div>
    </article>
    {{ end }}
  </section>
</main>

{{ partial "footer.html" . }}
