{{ partial "header.html" . }}

<main class="content list" role="main" id="archive">
  <section class="content">
    {{ if in .Permalink "authors" }}
    <article>
      <div class="row">
        <h1 class="mb-2">{{ .Params.name }}</h1>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <img src="{{ .Params.img }}" alt="{{ .Params.img }}" width="250" height="250" class="mb-4">
        </div>
        <div class="col-md-auto meta">
            {{ $name := .Params.name }}
            <ul>
            {{ range .Params.social }}
            <li>
            <a href="{{ .link }}" target="_blank" title="{{ $name }} on {{ .service }}" alt="{{ .link }}"><i class="fa {{ .icon }} mr-2"></i>{{ $name }} on {{ .service }}</a>
          </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ if .Content }}
      <div class="row">{{ .Content }}</div>
      {{ end }}
    </article>
    <div class="row">
      <h2>Posts by {{ .Params.name }}</h2>
    </div>
    {{ end }} 
    {{ if in .Permalink "tags" }}
    <div class="row">
      <h1>Posts with the "{{ .Title }}" tag</h1>
    </div>
    {{ end }} 
    {{ range .Pages }}
    <article>
      <div class="row meta">
        <div class="col-md-auto">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        </div>
      </div>
      <div class="row meta">
        <div class="col-md-auto">
          <p>{{ .Date.Format "2006/01/02" }}</p>
        </div>
        <div class="col-md-auto">|</div>
        <div class="col-md-auto">{{ partial "get-authors.html" . }}</div>
        <div class="col-md-auto">|</div>
        <div class="col-md-auto">{{ partial "get-tags.html" . }}</div>
      </div>
    </article>
    {{ end }}
  </section>
</main>

{{ partial "footer.html" . }}
