{{ partial "header.html" . }}

<main class="content list" role="main" id="archive">

  {{ if .Content }}
  <article class="article">
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
  <section class="content">
    {{ range (where .Data.Pages "Section" "!=" "").GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    {{ range .Pages }}
    <article>
      <div class="row meta">
        <div class="col-md-auto">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </div>
        <div class="row">
          <div class="col-md-auto">
            <p>{{ .Date.Format "2006/01/02" }}</p>
          </div>
          <div class="col-md-auto">
            {{ partial "authors.html" . }}
          </div>
          <div class="col-md-auto">
            {{ partial "tags.html" . }}
          </div>
        </div>
      </div>
    </article>
    {{ end }}
    {{ end }}
  </section>

</main>

{{ partial "footer.html" . }}