<nav class="top-nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.Params.logo.url | absURL}}" 
         width="{{ .Site.Params.logo.width }}" 
         height="{{ .Site.Params.logo.height }}" 
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li>
      {{ if .Pre }}
      <a href="{{ .URL }}" target="_blank" aria-label="{{ .Name }}" title="{{ .Name }}">{{ .Pre }}</a>
      {{ else }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav>
