{{ define "main" }}

<main role="main" class="content list" id="home">
    
    {{ range $index, $page := first 5 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
    <article class="container">
        <div class="meta row justify-content">
            <div class="col-md-auto">
                <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            </div>
            <div class="row justify-content">
            <div class="col-md-auto meta">
                <p>{{ .Date.Format "2006/01/02" }}</p>
            </div>
            <div class="col-md-auto">
                {{ partial "authors.html" . }}
            </div>
        </div>
        </div>
        <div class="row">
        <p>{{ .Summary }}</p>
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}" class="readmore">Read more...</a>
        {{ end }}
        </div>
    </article>
    {{ end }}

    <h2><a href="/post/">See more</a></h2>
</main>

{{ end }}